<h1>Your Cart</h1>
<div ng-show="authenticated">
    <table class="table table-hover">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>

        <tr ng-repeat="product in cart">
            <td>{{product.titel}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}} €</td>
            <td><input type="button" value="-" ng-click="removeItem(item.ID)" /></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td> Total: {{totalPrice()}}</td>
            <td>
                <input type="button" class="btn btn-success" value="Save" ng-click="save()" />
                <input type="button" class="btn btn-primary" value="Order" ng-click="order()" />
            </td>
        </tr>
    </table>
</div>
<div class="alert alert-danger" ng-show="!authenticated">
    <p>Login to see your cart</p>
</div>