<h1>Your Purchases</h1>
<div ng-show="authenticated" data-ng-init="getPurches()">

    <div ng-repeat="purche in purches">

    <table class="table table-striped">
        <tr>
            <th>{{purche.creationDate}}</th>
            <th>Product</th>
            <th>Price</th>
        </tr>

        <tr ng-repeat="product in purche.products">
            <td></td>
            <td>{{product.titel}}</td>
            <td>{{product.price}} 	&#8364;</td>
        </tr>
    </table>
    </div>
</div>
<div  class="alert alert-danger" ng-show="!authenticated">
    <p>Login to see your purchases</p>
</div>