<h1>Your Purchases</h1>
<div ng-show="authenticated">

    <div ng-repeat="purchase in purchases">

    <table class="table table-striped">
        <tr>
            <th>{{purchase.creationDate}}</th>
            <th>Product</th>
            <th>Price</th>
        </tr>

        <tr ng-repeat="product in purchase.products">
            <td></td>
            <td>{{product.title}}</td>
            <td>{{product.price}} 	&#8364;</td>
        </tr>
    </table>
    </div>
</div>
<div  class="alert alert-danger" ng-show="!authenticated">
    <p>Login to see your purchases</p>
</div>