<h1>Awesome shop</h1>
<div ng-show="authenticated">
    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Add</th>
        </tr>

        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.price}} 	&#8364;</td>
            <td><input type="button" value="+" ng-click="addItem(product.ID)" /></td>
        </tr>
    </table>
    </div>
<div  class="alert alert-danger" ng-show="!authenticated">
    <p>Login to see the shop</p>
</div>